body{
    background-color: hsla(0, 0%, 95%, 0.950);
}


.title-holder{
    padding: 15px;
    background-color: rgba(91, 142, 237, 0.974);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.input-title{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-field{
    font-size: 15px;
    min-width: 70%;
    height: fit-content;
    padding: 12px;
    border-radius: 10px;
    color: rgb(13, 179, 165);
    border: 30px;
    background-color: white
    
}

.text-holder{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    padding-left: 250px;
}


.button{
    border-radius: 5px;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
}



.result-holder{
    text-align: left;
    padding-left: 250px;
    justify-content: center;
    align-items: center;
    padding-right: 200px;

}


.result-holder li{
    font-size: 30px;
}

.result-holder h3{
    font-size: 30px;
    font-weight: bold;

}

.result-holder h4{
    font-size: 20px;
    font-weight: bold;
}

.result-holder p{
    font-size: 20px;

}

.not-found{
    font-size: 20px;
    color: rgba(255, 0, 0, 0.78);
    font-weight: bold;
}